Only ethernetCsmacd interfaces are shown in the room viewer

https://github.com/Uninett/nav/blob/b3c90342235eea28722aa3caa21faa15eb4b1b3b/python/nav/web/info/room/views.py#L203-L206

NAV 5.1.3

`snmpwalk -c foobar -v 2c [D-Link DGS-3627G] IF-MIB::ifTable`:

```
...
IF-MIB::ifType.1 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.2 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.3 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.4 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.5 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.6 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.7 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.8 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.9 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.10 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.11 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.12 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.13 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.14 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.15 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.16 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.17 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.18 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.19 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.20 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.21 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.22 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.23 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.24 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.25 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.26 = INTEGER: ethernetCsmacd(6)
IF-MIB::ifType.27 = INTEGER: ethernetCsmacd(6)
...
```

`snmpwalk -c foobar -v 2c [D-Link DGS-3200-10] IF-MIB::ifTable`:

```
...
IF-MIB::ifType.1 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.2 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.3 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.4 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.5 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.6 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.7 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.8 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.9 = INTEGER: gigabitEthernet(117)
IF-MIB::ifType.10 = INTEGER: gigabitEthernet(117)
...
```

Thanks for the bug report!

This filter has been there since the code was introduced to NAV, but I cannot find the reasoning behind it. I can only assume it was a misguided attempt to get a list of only *physical* ethernet ports, or only switch ports, but using `iftype` to try to discern that makes no sense.

The point of the device/interface list tab in the room view is mostly to figure which access ports are currently in use, or have recently been used. However, history is based on CAM records and would only work for switch ports. Switch ports aren't necessarily physical interfaces, at least not on Juniper, so...

Would you agree that listing switch ports makes the most sense, regardless of whether they are physical or not?

@alexanderfefelov Upon closer inspection, this is the definition of `ifType` in section 3.2.4 of [RFC 3635](https://datatracker.ietf.org/doc/rfc3635/):

> There are three other interface types defined in the IANAifType-MIB for Ethernet.  They are fastEther(62), fastEtherFX(69), and gigabitEthernet(117).  These interface types were registered by individual vendors, not by any IETF working group.  A requirement for compliance with this document is that all ethernet-like interfaces MUST return ethernetCsmacd(6) for ifType, and MUST NOT return fastEther(62), fastEtherFX(69), or gigabitEthernet(117).  However, as there are fielded implementations that do return these obsolete ifType values, management applications SHOULD be prepared to receive them from older implementations.

It seems D-Link is one of the mentioned "fielded implementations" that return an obsolete `ifType`. In the interest of supporting stuff that is out there, I suggest instead to update the interface selection code to include `ifType` values of *6, 62, 69 and 117*.